section
  .container
    .row
      h1 Нужна качественная разработка для лендинга вашей мечты?
    .row
      .col-12.col-sm-9
        img(src="src/img/1-foto.jpg")
      .col-12.col-sm-8
        .col-12.col-sm-5
          .card
            .card-body
              include ../../img/kist
              h5.card-title strategy
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-12.col-sm-5
          .card
            .card-body
              include ../../img/parker
              h5.card-title ux Design
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-12.col-sm-5
          .card
            .card-body
              include ../../img/screen
              h5.card-title development
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .col-12.col-sm-5
          .card
            .card-body
              include ../../img/bug
              h5.card-title testing
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.



  .fon_square
