.container
  section
    .row
      .col-12.col-sm-6
        h3 We have helped more than
          span &nbsp;25.000 people
          | &nbsp; to relocate successfully.
        p
          |Id ornare arcu odio ut. Posuere ac ut consequat semper viverra nam libero. Mus mauris vitae ultricies leo integer malesuada nunc. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Viverra vitae congue eu consequat ac felis donec et odio. Nunc mattis enim ut tellus. Morbi quis commodo odio aenean sed adipiscing diam donec. Felis imperdiet proin fermentum leo vel orci. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Proin sed libero enim sed faucibus. In ante metus dictum at tempor.

      .col-12.col-sm-6
        .for_share
          .share
        p
          |Integer quis auctor elit sed vulputate mi sit. Quam elementum pulvinar etiam non quam lacus suspendisse faucibus. Rhoncus mattis rhoncus urna neque viverra. Cras pulvinar mattis nunc sed blandit. Cras fermentum odio eu feugiat. Gravida in fermentum et sollicitudin.
