.container
  .row
    header
      .logo
        h3 Bizcompany
      .menu
        span
    nav.col-12.col-sm-3
      ul
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
        li
          a(href="пункт меню") пункт меню
