section
  .container
    .row
      .col-12.col-sm-8
        .wrapper_work_team
          .wrapper_work_team_foto

      .col-12.col-sm-4
        .wrapper_work_info
          .wrapper_work_info_txt
            h6 About Us
            h2  Corporate Training and &nbsp;
              span Development
            p
            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
