@media screen and ( min-width:  1200px)

@media screen and (min-width: 992px) and ( max-width:  1024px)
  .container-fuild:nth-child(9)
    .location_wrap
      p
        padding-top: .5em
      .location_wrap_socnet
        padding-top: 0em

    .location_wrap
      padding-right: 3em
    .contact_wrap
      padding-left: 0em
      input:not(:last-child), textarea
        min-width: 450px

@media screen and (min-width: 768px) and ( max-width:  992px)
  .container-fuild:nth-child(9)
    .location_wrap
      padding-right: 3em
      p
        padding-top: .5em
      .location_wrap_socnet
        padding-top: 0em

    .location_wrap_addres
      padding-bottom: 0em
    .contact_wrap
      padding-left: 0em
      input:not(:last-child), textarea
        min-width: 350px


@media screen and (min-width: 576px) and ( max-width:  768px)

@media screen and (min-width: 480px) and ( max-width:  576px)
