.container
  section
    .row.justify-content-between
      .card.flex-grow-1(style='width: 18rem;')
        img.card-img-top(src='src/img/develop.png' alt='Отличное настроение')
        .card-body
          h1.card-title Training

      .card.flex-grow-1(style='width: 18rem;')
        .card-body
          h2.card-title Corporate
            span &nbsp;Training &nbsp;
            | and Development
          p.card-text
            |Sed odio morbi quis commodo odio aenean sed adipiscing. Eget nullam non nisi est sit. Enim nec dui nunc mattis enim ut. Ultricies mi eget mauris pharetra et ultrices. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam.
        img.card-img-top(src='src/img/develop2.png' alt='Человек с ноутбуком')

    .row
      .cont
        .inside
      .cont
        .inside
      .cont
        .inside
