.container
  section
    .row
      h6 about our company
      h3 Deliver instructor-led or self-guided training with&nbsp;
        span hands-on
        | &nbsp; lab exercises for groups. Virtual classrooms of any size can be provisioned in minutes without&nbsp;
        span IT support
      .share
